body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #007bff; /* Techy blue background */
    color: white;
    text-align: center;
    font-size: large;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr)); /* Adjusted for a 2-column grid */
    gap: 20px;
    width: 100%;
    max-width: 900px; /* Adjust the max-width as needed */
    margin: auto;
    /* Add some padding to the top and bottom if you want a little space from the edges */
}

#card1, #card2{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* If you want the cards to have the same height: */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px auto;
    max-width: calc(100%-20px); /* Subtract the total margin from the width */
}

/* Rest of your CSS */

#card1 {
    line-height: 2;
}

#calculationForm {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

}

input[type="number"] {
    width: 35%; /* Makes the input take up 100% of the form's width */
    padding: 12px; /* Adds padding inside the input for larger touch area */
    font-size: 18px; /* Increases the font size */
    margin: 8px 0; /* Adds some margin above and below the input */
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
    text-align: center;
    border: solid 1px #06294f; /* Adds a border around the input */
    box-shadow: 1px 3px 2px #06294f; /* Adds a shadow inside the input */
    border-radius: 10px;
}

/* HIDE ARROWS IN INPUT For Webkit browsers like Chrome and Safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button#calculateButton {
    padding: 15px 30px; /* Larger padding makes the button larger */
    font-size: 20px; /* Larger font size for the text on the button */
    background-color: #007bff; /* Button color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 25px; /* Rounded corners */
    cursor: pointer; /* Changes the mouse pointer to indicate it's clickable */
    outline: none; /* Removes the outline to keep the design clean */
    box-shadow: 1px 5px 2px #06294f; /* Adds a shadow inside the input */

}

button#calculateButton:hover {
    background-color: #0056b3; /* Darker shade on hover for visual feedback */
}


/* Responsive styles for screens less than 600px wide */
@media (max-width: 1290px) {
    .grid-container {
        align-items: center;
        grid-template-columns: 1fr; /* Stack cards in a single column */
        margin: 10px; /* Adds margin around the cards */

    }
    #card1, #card2 {
        width: calc(100% - 20px); /* Subtract the total margin from the width */
    }

    input[type="number"], button#calculateButton {
        width: 65%; /* Full width */
        padding: 16px; /* Larger padding */
        font-size: 18px; /* Larger text */
        margin: 8px 0; /* Space between inputs */
    }

    button#calculateButton {
        padding: 20px; /* Larger button */
        font-size: 20px; /* Larger button text */
        margin-top: 16px; /* More space above the button */
    }
}

* {
    box-sizing: border-box;
  }
  